<form action="/books" method="post">
           <fieldset>
               <p>
                   <label for="title">Title: </label><br>
                   <input type="text" placeholder="Enter Title Here" name="title" required>
               </p>
               <p>
                   <label for="title">Genre: </label><br>
                   <input type="text" placeholder="Enter Title Here" name="genre" required>
               </p>
               <p>
                   <label for="coverImageUrl">Cover Image URL: </label><br>
                   <input type="text" placeholder="Enter URL Here" name="cover_url" required>
               </p>
               <p>
                   <label for="description">Description: </label><br>
                   <input type="text" placeholder="Enter Description Here" name="description" required>
               </p>
               <%# <p>
                   <label for="author">Authors: </label><br>
                   <input type="text" placeholder="Enter Author Name Here" required>
                   <input type="submit" value="X"><br>
               </p>%>
               <input type="submit">
           </fieldset>
       </form>
