<a href="/authors/new">New Author</a>
<% authors.forEach(function (author) { %>
    <div class="card">
        <div class="card-block">
            <h4 class="card-title"><%=author.first_name %></h4>
            <h6 class="card-subtitle mb-2 text-muted"><%=author.last_name%></h6>
            <p class="card-text">
                <%=author.auth_bio %>
            </p>
            <a href="/authors/<%= author.id %>" class="card-link"> Learn more</a>
        </div>
    </div>
    <% }) %>
