<form action="submit">
           <fieldset>
               <p>
                   <label for="title">First Name: </label><br>
                   <input type="text" placeholder="Enter Title Here" required>
               </p>
               <p>
                   <label for="title">Last Name: </label><br>
                   <input type="text" placeholder="Enter Title Here" required>
               </p>
               <p>
                   <label for="coverImageUrl">Image URL: </label><br>
                   <input type="text" placeholder="Enter URL Here" required>
               </p>
               <p>
                   <label for="description">Bio: </label><br>
                   <input type="text" placeholder="Enter Description Here" required>
               </p>
               <%# <p>
                   <label for="author">Books: </label><br>
                   <input type="text" placeholder="Enter Author Name Here" required>
                   <input type="submit" value="X"><br>
               </p>%>
           </fieldset>
       </form>
